# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#Ignora ficheros de configuración de Eclipse
.settings
.project
.classpath

#Ignora carpeta bin
bin